.content {
  text-align: center;
  font-family: 'Jomolhari', serif;
  height: 680px;
}
.content a {
  text-align: center;
  text-decoration: none !important;
  display: inline-block;
  font-size: 19px;
  color: #6f6f6f;
  transition: 0.3s all ease;
}
.content a:hover {
  color: #72b5ca;
}
.content h1 {
  margin: 70px;
  font-size: 3.666em;
  line-height: 1.3em;
  font-weight: 400;
  color: #33302e;
}
.content h1:after {
  content: ' ';
  display: block;
  width: 20px;
  height: 2px;
  margin: 0.4em auto 0.55em;
  background-color: #72b5ca;
}
.content h5 {
  font-size: 0.93em;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 1.7em;
  margin: 0.25em auto 3.8em;
  max-width: 520px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Aller", sans-serif;
  color: #6f6f6f;
}
.content span {
  margin-left: 10px;
}
.content .name {
  color: #6f6f6f;
  position: relative;
  font-family: "Aller", sans-serif;
  font-weight: 500;
  line-height: 1.1;
  background-color: rgba(114,181,202,0.1);
  margin: 3px;
}
.content .name:hover {
  color: #72b5ca;
}
.content .fa {
  margin: 10px 10px;
  color: #72b5ca;
}
.content a.btn-more {
  background-color: #72b5ca;
  padding: 15px 30px;
  border-radius: 30px;
  color: #fff;
  margin: 20px 0;
  display: inline-block;
  opacity: 1;
  transition: 0.3s all ease;
  margin-top: 50px;
}
.content a.btn-more:hover {
  opacity: 0.6;
}
