.content {
  text-align: center;
  font-family: 'Jomolhari', serif;
}
.content a {
  text-align: center;
  text-decoration: none !important;
  display: inline-block;
}
.content h1 {
  margin: 70px;
  font-size: 3.666em;
  line-height: 1.3em;
  font-weight: 400;
}
.content .new a.time-new {
  transition: 0.3s all ease;
  color: #afafaf;
  margin-top: 30px;
  font-family: "Aller", sans-serif;
}
.content .new a.time-new:hover {
  color: #72b5ca;
}
.content .new a.name-new {
  color: #33302e;
  position: relative;
  font-size: 24px;
  font-family: "Aller", sans-serif;
  font-weight: 500;
  line-height: 1.1;
}
.content .new a.name-new:hover {
  color: #72b5ca;
}
.content .new a.name-new:after {
  content: '';
  height: 2px;
  margin: 0 auto;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 14px;
  background-color: #EDB39B;
}
.content .new a.btn-more {
  background-color: #EDB39B;
  padding: 15px 30px;
  border-radius: 30px;
  color: #fff;
  margin: 20px 0;
  display: inline-block;
  opacity: 1;
  transition: 0.3s all ease;
  margin-top: 20px;
}
.content .new a.btn-more:hover {
  opacity: 0.6;
}
.content .new p {
  font-family: "Aller", sans-serif;
}
