.widget_text {
  display: flex;
  float: right;
  background: #696460;
  width: 360px;
  height: 250px;
  align-items: center;
  justify-content: center;
  position: relative;
}
.widget_text .widget_title {
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translate(-50%,0%);
  font-weight: 400;
  color: white;
  font-size: 1.5rem;
}
.widget_text .textwidget {
  color: #B1B0AF;
  align-items: center;
  transform: translate(7%,0%);
  display: table-cell;
  justify-content: center;
  position: revert;
}
