.content {
	text-align: center;
	font-family: 'Jomolhari', serif;
	height: 680px;
	a {
		text-align: center;
		text-decoration: none!important;
		display: inline-block;
		font-size: 19px;
	}
	h1 {
		    margin: 70px;
		    font-size: 3.666em;
		    line-height: 1.3em;
		    font-weight: 400;
		    color: #33302e;
		}
	h5{

		font-size: 0.93em;
	    font-weight: 300;
	    letter-spacing: 1px;
	    line-height: 1.7em;
	    margin: 0.25em auto 3.8em;
	    max-width: 520px;
	    text-align: center;
	    text-transform: uppercase;
	    font-family: "Aller", sans-serif;
	    color: #6f6f6f;
	}
	.row{


		.name {

		background-color: rgba(114,181,202,0.1);
		margin: 3px;

			a.name {
				color: #6f6f6f;
				position: relative;
				font-family: "Aller", sans-serif;
			    font-weight: 500;
			    line-height: 1.1;
			}
			a.name:hover {
				color: #72b5ca;
			}
			a.name:after {
				content: '';
			    height: 4px;
			    margin: 0 auto;
			    position: absolute;
			    bottom: 0;
			    left: 0;
			    right: 0;
			    width: 14px;
			    background-color: #EDB39B;
			}
			.fa {
			margin: 10px 10px;
			}
		}
	}
	a.btn-more {
			background-color: #72b5ca;
		    padding: 15px 30px;
		    border-radius: 30px;
		    color: #fff;
		    margin: 20px 0;
		    display: inline-block;
		    opacity: 1;
		    transition: 0.3s all ease;
		    margin-top: 50px;
		}
		a.btn-more:hover {
			opacity: 0.6;
		}
}