.team-members {
  display: inline-flex;
  float: left;
}
.team-members .post_content {
  display: block;
}
.team-members .btn-primary {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border-color: #edb39b;
  background-color: #72b5ca;
  text-align: inherit;
}
.team-members .about-member {
  display: block;
  text-align: left;
  text-justify: auto;
}
