.selected {
  float: left;
  margin: 0;
  list-style: none;
}
.selected #boder {
  background: #EDB39B;
  border-color: #bbb;
  color: #33302e !important;
  font-size: 1em !important;
  margin-right: 34px;
  font-weight: 500;
  transition: all ease .3s;
  text-decoration: none;
}
.selected a:hover {
  color: #72b5ca;
}
.selected .item-list-tabs span {
  background: #eee;
  border-radius: 50%;
  border: 1px solid #ccc;
  color: #6c6c6c;
  display: inline;
  font-size: 70%;
  margin-left: 2px;
  padding: 3px 6px;
  text-align: center;
  vertical-align: middle;
}
.selected #members-order-by {
  background-color: #fcf7f1;
  border-radius: 25px;
  -webkit-appearance: none;
}
