form {
  float: right;
}
form label input#members_search {
  border-color: #fcf7f1;
  background-color: #fcf7f1;
  border-radius: 2em;
  font-size: 13px;
  padding: 13px 18px;
  border: 1px solid #ccc;
  color: #6f6f6f;
}
form input#members_search_submit {
  background: #EDB39B;
  color: #ffffff;
  display: inline-block;
  text-align: center;
  padding: 13px 18px;
  font-size: 1em;
  line-height: 1.3em;
  font-weight: 700;
  border: none;
  border-radius: 2em;
}
