.product-description .prd-dsc-content {
  padding-left: 50px;
  font-family: texgyretermes, serif;
  color: #33302e;
}
.product-description .prd-dsc-content .p {
  font-family: Aller, sans-serif;
  font-size: 15px;
  color: #6f6f6f;
}
.product-description .prd-dsc-tabs {
  list-style: none;
  display: inline-flex;
  padding-left: 50px;
}
.product-description .prd-dsc-tabs .description_tab {
  text-decoration: underline #edb39b;
  color: #33302e;
  font-family: Aller, sans-serif;
  font-weight: bold;
  font-size: 15px;
  word-wrap: break-word;
  text-underline: #edb39b;
}
.product-description .prd-dsc-tabs .reviews_tab {
  padding-left: 50px;
  text-decoration: none;
  color: #6f6f6f;
  font-size: 15px;
  font-family: Aller, sans-serif;
  font-weight: bold;
}
