.products {
  width: 1000px;
}
.products .post_item_wrap {
  width: 300px;
  text-align: center;
  margin: 10px;
  display: inline-block;
}
.products .post_item_wrap .post_content {
  background-color: rgba(114,181,202,0.2);
  padding: 20px;
}
.products .post_item_wrap img {
  margin-bottom: 20px;
}
.products .post_item_wrap h3 {
  font-size: 1em;
  font-weight: 300;
  line-height: 1.3em;
  margin-top: 0;
  margin-bottom: 1.65em;
  padding: 0;
  overflow: hidden;
  max-height: 2.5em;
}
.products .post_item_wrap h3 a {
  color: #33302e;
  text-decoration: none;
}
.products .post_item_wrap a:hover {
  text-decoration: none;
}
.products .post_item_wrap span {
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  line-height: inherit;
  border: 0;
  outline: 0;
  -webkit-font-smoothing: antialiased;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}
.products .post_item_wrap button {
  border-radius: 25px;
  margin-top: 10px;
  opacity: 0.5;
}
.products .post_item_wrap button:hover {
  opacity: 1;
}
.products .post_item_wrap .post_thumb:hover {
  background: #72b5ca;
  opacity: 0.7;
}
.products .post_item_wrap .price {
  font-size: 1.4em;
  font-weight: 400;
  margin-bottom: 1.5em;
}
